body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 80px;
  margin: 20px;
}

.App {
    transition: background 0.5s ease-out;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.audioSelector {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.audioSelector > div {
  transition: background 0.3s linear;
  cursor: pointer;
  width: 80px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 10px;
}

.audioSelector > div:hover{
  background: rgba(0, 0, 0, 0.5);
}

.selected{
  border: 1px solid black !important;
  background: rgba(180, 180, 180, 0.4) !important;
}

.timer{
  margin: 20px;
}

.timer > div{
  color: white;
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.1s linear;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.selectedTimer{
  color: rgb(255, 244, 87) !important;
  font-size: 55px !important;

   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.activeTimer{
  color: rgb(255, 255, 255) !important;
  font-size: 55px !important;
}

button{
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(135, 206, 235, 0.9);
  /* background-color: skyblue; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button:active {
  outline: none;
}